<!DOCTYPE HTML>
<html>
<head>
	<title> Realtime voice chat </title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
    	namespace = '/test';

    	var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

    	socket.on('connected', function(msg){
    		$('#log').append('<br>' + $('<div/>').text('message : ' + msg.data).html());
    	});

        function hasGetUserMedia() {
        return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia);
        }

        if (hasGetUserMedia()) {
        // Good to go!
        } else {
            alert('getUserMedia() is not supported in your browser');
        }
    });

    </script>
</head>

<body>
    Say anything
    <h2>Received:</h2>
    <div id ="log"></div>
    <audio id = "audio" autoplay></audio>
    <script>
        'use strict';
        // Put variables in global scope to make them available to the browser console.
        var audio = document.querySelector('audio');

        var constraints = window.constraints = {
          audio: true,
          video: false
        };

        var namespace = '/test';
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

        function handleSuccess(stream) {
            var audioTracks = stream.getAudioTracks();
            console.log('Got stream with constraints:', constraints);
            console.log('Using audio device: ' + audioTracks[0].label);
            console.log('stream to string : ' + stream.toString())
            stream.oninactive = function() {
                console.log('Stream ended');
            };

            window.stream = stream; // make variable available to browser console
            audio.srcObject = stream;

            var audioContext = window.AudioContext || window.webkitAudioContext;
            var context = new audioContext();
         
            var audioInput = context.createMediaStreamSource(stream);

            // var audioChunk = document.querySelector('audio');
            // audioChunk.src = window.URL.createObjectURL(stream);
            // audioChunk.play();
            // console.log('active');
            var output = window.URL.createObjectURL(stream);
            socket.emit('speak', {data : output});
        }


        socket.on('broadcast', function(audioChunk){
            console.log('chunk : ' + audioChunk.data.toString());
            // var audio = document.querySelector('audio');
            var binarydata = [];
            binarydata.push(audioChunk.data);
            audio.src = audioChunk.data;
            // audio.src = window.URL.createObjectURL(audioChunk.data);
        });

        function handleError(error) {
            console.log('navigator.getUserMedia error: ', error);
        }

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia;

        navigator.getUserMedia(constraints, handleSuccess, handleError);

    </script>
</body>
</html>

