<!DOCTYPE HTML>
<html>
<head>
	<title> Realtime voice chat </title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
    	namespace = '/test';

    	var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

    	socket.on('connected', function(msg){
    		$('#log').append('<br>' + $('<div/>').text('message is :' + msg.data).html());
    	});
    });
    </script>
</head>

<body>
    Say anything
    <h2>Receive:</h2>
    <div id ="log"></div>
    <script>
    function hasGetUserMedia() {
    return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
    }

    if (hasGetUserMedia()) {
    // Good to go!
    } else {
    alert('getUserMedia() is not supported in your browser');
    }

    </script>
    <audio autoplay></audio>

    <script>

    // Not showing vendor prefixes.
    function __log(e, data) {
        log.innerHTML += "\n" + e + " " + (data || '');
    }

    var audio_context;
    var recorder;

    function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
        __log('Media stream created.');
        // Uncomment if you want the audio to feedback directly
        //input.connect(audio_context.destination);
        //__log('Input connected to audio context destination.');
        
        recorder = new Recorder(input);
        __log('Recorder initialised.');
    }

    </script>
</body>
</html>
