<!DOCTYPE HTML>
<html>
<head>
	<title> Realtime voice chat #1 </title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
    	namespace = '/test1/test';

    	var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

    	socket.on('connected #1', function(msg){
    		$('#log').append('<br>' + $('<div/>').text('message : ' + msg.data).html());
    	});

        function hasGetUserMedia() {
        return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia);
        }
        if (hasGetUserMedia()) {
        // Good to go!
        } else {
            alert('getUserMedia() is not supported in your browser');
        }
    });

    </script>
</head>

<body>
    Say anything #1
    <h2>Received:</h2>
    <div id ="log"></div>
    <audio id="audio" autoplay></audio>
    <script>
        'use strict';

        //connection to localhost.
        var namespace = '/test2/test';
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

        // returned blob will assign to this variable as a src.
        var audio = document.querySelector('audio');

        // call back functions for getUserMedia and constraints
        var constraints = window.constraints = {
          audio: true,
          video: false
        };

        function handleSuccess(stream) {
            var audioTracks = stream.getAudioTracks();
            console.log('Got stream with constraints:', constraints);
            console.log('Using audio device: ' + audioTracks[0].label);
            console.log('stream to string : ' + stream.toString())

            var output = window.URL.createObjectURL(stream);
            console.log('output #1 : ' + output);
            socket.emit('speak_to_#2', {data : output});
        }


        var namespace_ = '/test1/test';
        var socket_ = io.connect('http://' + document.domain + ':' + location.port + namespace);
        
        socket_.on('listen1', function(audioChunk){
            console.log('chunk : ' + audioChunk.data.toString());
            var binarydata = [];
            binarydata.push(audioChunk.data);
            audio.src = audioChunk.data;
        });

        function handleError(error) {
            console.log('navigator.getUserMedia error: ', error);
        }

        // Usage of getUserMedia.
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia;
        navigator.getUserMedia(constraints, handleSuccess, handleError);

    </script>
</body>
</html>

